body {
    margin: 0;
    background-color: #1b1b1b;
    color: white;
    font-family: Arial;
}

#header {
    background-color: brown;
    padding: 20px;
    text-align: center;
}

.nav a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
}

#main-block {
    background-image: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=1200");
    background-size: cover;
    height: 400px;
    text-align: center;
}

#main-block h2 {
    font-size: 50px;
    margin-top: 50px;
}

.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tovari-section {
    padding: 40px;
}

.line {
    width: 150px;
    height: 3px;
    background-color: orange;
}

.spisok {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#about {
    background-color: #222;
    padding: 30px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: black;
}
